.profile-body {
    margin-left: 33vw;
    width: 43.2vw;
    height: 100vh;
}

.blue-div {
    background-color: rgb(62, 145, 254);
    height: 100px;
    width: auto;
    display: block;
    border-radius: 5px;
}

.profile-profilepic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile-profile-profilepic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.profile-pic-row {
    margin-top: -5vh;
}

@media (max-width: 900px) {
    .profile-body {
        margin-left: 35vw;
        width: 61vw;
    }

    .profile-pic-row {
        margin-top: -3vh;
    }
}

@media (max-width: 450px) {
    .profile-body {
        margin-left: 0vw !important;
        margin-top: 10vh;
        width: 100vw !important;
        border: none !important;
    }

    .profile-pic-row {
        margin-top: -5vh;
    }

    .details-row {
        display: flex;
        flex-direction: column;
    }

    .dob-section {
        width: 60vw;
    }

    .profile-profilepic {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    .profile-profile-profilepic {
        border-radius: 50%;
        height: 90px;
        width: 90px;
    }
}